@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    In MiniProject006 I added sorting option to date, numeric aand string values.<br />
    Every column in the table can be sorted.<br />
    I get knowledge aboute very important passing data by asp-route- and then name of variable.
</div>
